<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>추가</h1>
    <form action="/add">
        <input type="text" name="name" placeholder="이름"><br>
        <input type="text" name="price" placeholder="가격"><br>
        <input type="text" name="company" placeholder="제조사"><br>
        <input type="text" name="year" placeholder="제조년"><br>
        <input type="submit" name="save" value="확인">
        <a href="/car/list">취소</a>
    </form>
    


</body>

</html>