<!DOCTYPE html>
<html lang="en">
<%- include("head.ejs") %>
<body>
    <div class="container">
        <h1>자동차 정보 삭제</h1>
        <p><%- include("carmenu.ejs") %></p>
        <div></div>
        <p><%- include("bottom.ejs") %></p>
    </div>
</body>
</html>